#start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#steps {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-top: 32px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 16px;
    width: 25%;
    padding: 24px;
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.step-number {
    position: absolute;
    background-color: var(--color-primary-2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: var(--color-primary-1);
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.step img {
    height: 100px;
}

.step-description {
    color: #434343;
    text-align: center;
}

.step-rate i {
    color: var(--color-primary-6);
}

.step-information {
    display: flex;
    align-items: center;
    gap: 24px;
}

@media screen and (max-width: 1170px) {
    #steps {
        flex-wrap: wrap;
        justify-content: center;
    }

    .step {
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 600px) {
    .step {
        width: 100%;
    }

    #steps .section-subtitle {
        text-align: center;
    }
} 